@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*CONTEÚDO*/
main {
    background-image: url(../img/textura-03.jpg);
    padding-top: 20vh;
    padding-bottom: 20vh;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
h2 {padding: 10px;
}

h3 {
  padding-top: 50px;
}
#cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 25px;
}
#cliente div {
    padding: 5px;
}

#mesas {
    padding-top: 3px;
    display: none;
    width: 2rem;
}

#formulario {
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
  padding: 5px;
  }
  button {
    margin-top: 5px;
    padding: 2px;
  }
}
form i {
  height: 2.5rem;
}

input {
  width: 20rem;
  height: 1.5rem;
}

#enviar {
    max-width: 100%;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

/* ---------- Estilos dinâmicos ---------- */
/* .required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
} */


/* TESTANDO */
/* form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: lightgray;
  border-radius: 16px;
  padding: 1.5rem 40px;
} */

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: .2rem;
  position: relative;
}

label:not(:first-of-type){
  margin-top: 1rem;
}

input {
  padding: .2rem .5rem;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 1.5rem;
  font-size: 1rem;
  align-self: center;
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}